@import '../../../vendor/bootstrap/bootstrap'

@import url(https://fonts.googleapis.com/css?family=Amatic+SC|Raleway)

body
	font-family: 'Raleway', $font-family-sans-serif

h1, h2, h3
	font-family: 'Amatic SC', $font-family-sans-serif

h1
	text-align: center
	font-size: 4em

.row
	margin-bottom: 2em

.box-details
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#9be4ff+0,abf0ff+50,a1eeff+51,cbf7ff+100 */
	background: #9be4ff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #9be4ff 0%, #abf0ff 50%, #a1eeff 51%, #cbf7ff 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  #9be4ff 0%,#abf0ff 50%,#a1eeff 51%,#cbf7ff 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  #9be4ff 0%,#abf0ff 50%,#a1eeff 51%,#cbf7ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9be4ff', endColorstr='#cbf7ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	padding-top: 1em

.box-title
	font-size: 4em

.box-description
	text-align: center
